.bubbleSignIn {
  background-color: #19d85f;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
  height: 100px;
}

.bubble3 {
  background-color: #19d85f;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 350px;
  margin-right: 350px;
  height: 50px;
  padding-top: 20px;
  color: white;
  font-size: 30px;
}

.bubbleButton {
  background-color: #19d85f;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 50px;
  margin-top: 20px;
  height: 60px;
  color: white;
  font-size: 20px;
}

.bubbleButton:hover {
  background-color: #12ab4a;
  cursor: pointer;
}

.bubble3:hover {
  background-color: #12ab4a;
  cursor: pointer;
}

.linkStyle {
  color: white;
  font-size: 30px;
  text-decoration: none;
}
