.bubble3 {
  background-color: #0bb348;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 30%;
  width: 40%;
  height: auto;
  color: white;
  font-size: 30px;
}

.bubble3:hover {
  background-color: #0bb34880;
  cursor: pointer;
}

.linkStyle {
  color: white;
  font-size: 30px;
  text-decoration: none;
}
