.errorComponent {
  background-color: #0bb348;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 50px;
  height: auto;
  width: 50%;
  align-content: center;
  margin-left: 25%;
}

.errorComponent div {
  width: 80%;
  margin-left: 10%;
}

.errorComponent:hover {
  cursor: default;
}

.errorComponent h3 {
  width: 40%;
  margin-left: 30%;
  height: auto;
  padding: 10px;
}

.errorComponent h3:hover {
  background-color: #176b35;
  cursor: pointer;
}

.bubbleButton {
  background-color: #0bb348;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 50px;
  margin-top: 20px;
  height: 60px;
  color: white;
  font-size: 20px;
  border: none;
}

.bubbleButton:hover {
  background-color: #176b35;
  cursor: pointer;
}
