.spacer {
  margin-top: 50px;
  width: 90%;
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
  grid-template-columns: minmax(300px, 36%) minmax(400px, 50%);
  grid-gap: 4%;
  grid-auto-rows: auto;
  justify-content: center;
}

.game {
  background-color: #0bb348;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 50px;
  height: auto;
  width: auto;
}

.scoreboard {
  background-color: #0bb348;
  width: auto;
  padding: 0px 50px 20px;
  border-radius: 50px;
}

.gameSpace {
  width: 90%;
  margin-left: 5%;
}

.scoreboard:hover {
  cursor: default;
}

.gameSpace h1:hover {
  cursor: default;
}

.gameSpace h2:hover {
  cursor: default;
}

.answerButtons {
  width: 200px;
  border-radius: 50px;
  height: auto;
  margin-left: 90px;
}

.answerButtons p {
  padding-top: 3px;
  padding-bottom: 3px;
}

.answerButtons:hover {
  background-color: #176b35;
  cursor: pointer;
}
