.spacer {
  margin-top: 50px;
  width: 90%;
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
  grid-template-columns: minmax(300px, 36%) minmax(400px, 50%);
  grid-gap: 4%;
  grid-auto-rows: auto;
  justify-content: center;
}

#gameSpacePadding {
  width: 84%;
  margin-left: 8%;
}

.gameSpace {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #0bb348;
  border-radius: 50px;
  margin-left: 5%;
}

.scoreboard:hover {
  cursor: default;
}

.gameSpace h1:hover {
  cursor: default;
}

.gameSpace h2:hover {
  cursor: default;
}

.answerButtons {
  width: 40%;
  border-radius: 50px;
  height: auto;
  margin-left: 30%;
}

.answerButtons p {
  padding: 4px 0px;
}

.answerButtons:hover {
  background-color: #176b35;
  cursor: pointer;
}
