.roundStartStyle {
  border-radius: 50px;
  height: auto;
  margin: 20px;
}

.roundCollectionStyle {
  border-radius: 50px;
  height: auto;
  margin: 20px;
}

.roundCollectionStyle:hover {
  cursor: default;
}

.roundStartStyle h1 {
  padding-top: 5px;
}

.roundStartStyle:hover {
  background-color: #176b35;
  cursor: pointer;
}
