.roundStartStyle {
  background-color: #0bb348;
  border-radius: 50px;
  height: 80px;
}

.roundStartStyle h1 {
  padding: 20px 10px 0px;
}

.roundCollectionStyle {
  background-color: #0bb348;
  border-radius: 50px;
  height: 100px;
}

.roundCollectionStyle h1 {
  padding: 10px 10px 0px;
}

.roundCollectionStyle:hover {
  cursor: default;
}

.roundStartStyle:hover {
  background-color: #176b35;
  cursor: pointer;
}
