.bubble2 {
  background-color: #0bb348;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 35%;
  width: 30%;
  height: 80px;
  color: white;
  font-size: 30px;
}

.bubble2 h1 {
  font-size: 30px;
}

.bubble2:hover {
  background-color: #176b35;
  cursor: pointer;
}
