.homeLink {
  width: 80%;
  border-radius: 50px;
  margin-left: 10%;
  padding: 10px 5px;
}

.spanStyle {
  color: #222;
}

.homeLink:hover {
  background-color: #176b35;
}

.endGameStyleContainer {
  background-color: #0bb348;
  border-radius: 50px;
  height: 200px;
}

.endGameStyle {
  width: 80%;
  margin-left: 10%;
  padding-top: 5px;
}

.endGameStyle h1:hover {
  cursor: default;
}
